body{
    background-color: azure;
}
.container-top{
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: space-between;
}
#status{
    width: 90%;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#message{
    width: 90%;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
.tank{
    height: 200px;
    position: relative;
}
#t1{
    height: 180px;
    opacity: 1.0;
}
#t2{
    height: 180px;
    opacity: 1.0;
}
.names{
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
#player1{
    float: left;
}
#player2{
    float: right;
}
#tankRight{
    position: relative;
    width: 100%;
    padding-top: 5rem;
    padding-right: 15rem;
    float: left;
}
#tankLeft{
    position: relative;
    width: 100%;
    padding-top: 5rem;
    padding-left: 15rem;
    float: right;
}
button#reset.btn-primary{
    margin-left: auto;
    margin-right: auto;
}
#attackRight{
    float: left;
    margin-left: 12rem;
}
#attackLeft{
    float: right;
    margin-right: 12rem;
}
#health-1{
    float: left;
    font-weight: bold;
    padding-top: .2rem;
    margin-left: 1rem;
}
#health-2{
    float: right;
    font-weight: bold;
    padding-top: .2rem;
    margin-right: 1rem;
}